@{
    ViewData["Title"] = "Home Page";
}

<div class="clean-block clean-info dark">
    <div class="container">
        <div class="row align-items-center ml-5" style="margin-top:8%;">
            <div class="col-md-3 mr-2 " style="">
                <img class="poped img-fluid ml-3"
                     src="~/images/aarogyam-logo.png" /> <!--style="background-color: #148b7f"-->
            </div>
            <div class="col-md-6 ml-5">
                <h2 class="info-heading">Aarogyam</h2>
                <div>
                    <p class="text-capitalize font-weight-bold">
                        The <span class="font-weight-bold text-danger">Covid19</span> is just a question,
                        we find the answers.
                    </p>
                    <p>
                        At Aarogyam you'll find a best way to keep yourself healthy and continously engaged with the
                        Hospitals and Government.
                    </p>
                </div>
                <a asp-action="Login" asp-controller="Account" asp-route-role="citizen">
                    <button class="btn btn-lg" style="background-color: #08645A;" type="button">
                        <span class="fa fa-hand-o-up" style="color:white;">
                            Join Now
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<br />
<br>
<hr>
<br>

<div>
    <div class="clean-block about-us container" style="padding-top: 25px; margin-bottom: 30px; text-align: center;">
        <div class="container">
            <div class="block-heading" style="padding-top: 30px; margin-bottom: 40px; text-align: center;">
                <h2 class="info-text">About Us</h2>
                <p>
                    With our dynamic <span class="text-danger font-weight-bold">COVID19 HEALTH & CARE</span> software, you can easily manage all your health and care services. Where citizens can choose their's choice
                    hospital and done the health checkup. They can request a Bed if he/she get's Covid Positive and register as a patient to the hospital 
                    depending on approval of Hospital. They can see the Advisories and Covid-data uploaded by the Government. 
                </p>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center shadow-sm" style="background-color: #148b7f;">
                        <div class="card-body info">
                            <h4 style="color:white;" class="card-title">Jwalit Shah</h4>
                            <p style="color:white;" class="card-text">Creater and Designer of Shah's Accertion.</p>
                            <p style="color:white;" class="blockquote">Web and Android Developer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
