@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>This is Test1 method</h3>
<div>
    <p>First number is @ViewBag.num1</p>
    <p>Second number is @ViewBag.num2</p>
    <p>sum is @ViewBag.sum</p>
</div>