@model Aarogyam.Models.ViewModels.CitizenMadeCheckup

@{
    ViewData["Title"] = "CitizenMadeCheckup";
}

<h4>Citizen's Checkup</h4>
<hr />

<div class="row">
    <div class="col-md-6 card shadow-sm o-hidden my-1 p-3" style="border-radius:10px; border-right: 4px solid #06413a; background-color: rgba(228, 244, 242, 0.83)">
        <form asp-action="CitizenMadeCheckup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bloodgroup" class="control-label"></label>
                <input asp-for="Bloodgroup" class="form-control" />
                <span asp-validation-for="Bloodgroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CheckupData" class="control-label"></label>
                <input asp-for="CheckupData" class="form-control" />
                <span asp-validation-for="CheckupData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Dashboard" asp-controller="Citizen">Back to Dashboard</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
