
@{
    ViewData["Title"] = "DeleteRequestPatientConfirm";
}

<div class="col-md-6 card shadow-sm o-hidden border-0 my-1 p-3" style="border-radius:10px; background-color: rgba(228, 244, 242, 0.83)">
    <h4>Delete Requested Bed</h4>
    <h5>Are you sure want to discard the patient approval request to your selected hospital ? </h5>
    <br />
    <a asp-action="DeleteRequestPatient" class="btn btn-danger" style="color:white;">Discard a Bed Request from Hospital</a>
</div>


