<configuration>  
   <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="calc" publicKeyToken="6a88fab584e1d279" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0" />
		  </dependentAssembly>  
      </assemblyBinding>  
   </runtime>  
</configuration> 