@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-10 card shadow-sm o-hidden border-0 my-1 p-3" style="border-radius:10px; background-color: rgba(228, 244, 242, 0.83)">
    <div>
        <h3>If you have account registered with us then the password reset token has been sent to your Email address.</h3>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
    </div>
</div>